.body-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(230, 242, 253);
}
.act-body{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    justify-content: center;
    padding: 0px 35px;
    
}
.time-container{
    background-color: #fff;
}
.time-info{
    position: sticky;
    top: 20px;
    margin: 15px;
}
