.singleAct-container{
    height: 490px;
    width: 295px;
    background-color: #fff;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.singleAct-container img{
    width: 295px;
    padding: 10px;
}
.singleAct-text{
    padding: 10px 20px;
}
.singleAct-text button{
    border: 0;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #1d77c3;
    color: #fff;
}

@media (max-width:991px){
    .singleAct-container{
        margin: auto;
        margin-top: 20px;
        width: 365px;
        height: 520px;
    }
    .singleAct-container img{
        width: 365px;
    }
}
@media (max-width:820px){
    .singleAct-container{
        width: 260px;
    }
    .singleAct-container img{
        width: 260px;
    }
}
@media (max-width:600px){
    .singleAct-container{
        width: 400px;
        height: 550px
    }
    .singleAct-container img{
        width: 400px;
    }
}